/* CSS declarations go here */
#login-buttons
{
    margin:15px;
    font-size:16px;
}

.list-group-item{
    height:55px;
}

.bins-share
{
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
    align-items: center;
}

.bins-share .input-group
{
    width:30%;
}

.bins-share > div 
{
    margin: 0 10px;
}