/* CSS declarations go here */
#login-buttons
{
    margin:15px;
    font-size:16px;
}

.list-group-item{
    height:55px;
}

.bins-share
{
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
    align-items: center;
}

.bins-share .input-group
{
    width:30%;
}

.bins-share > div 
{
    margin: 0 10px;
}

a.login-link-text
{
    color:#fff;
}


a.login-link-text:hover
{
    color:#000090;
}

#login-buttons
{
    position:absolute;
    left: 120px;
    top:10px;
}
.tableContainer
{
    margin:10px;
}