<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolations="true"
         stopOnFailure="false"
         syntacCheck="false"
>
    <testsuites>
        <testsuite>
            <directory>
                tests
            </directory>
        </testsuite>
    </testsuites>
</phpunit>